#"[host][ip]": "[host][name]","[host][geo][city_name]","[host][geo][continent_name]","[host][geo][country_iso_code]","[host][geo][country_name]","[host][geo][location][lon]","[host][geo][location][lat]","[host][geo][name]","[host][geo][region_iso_code]","[host][geo][region_name]","[event][timezone]","[host][geo][site]","[host][geo][building]","[host][geo][floor]","[host][geo][room]","[host][geo][rack]","[host][geo][rack_unit]","[host][os][family]","[host][os][full]","[host][os][kernel]","[host][os][name]","[host][os][platform]","[host][os][version]","[host][product]","[network][alias]","[network][role]"
"{{ fgt_ip }}": "{{ fgt_name }},{{ city_name }},{{ continent_name }},{{ country_iso_code }},{{ country_name }},{{ geo_lon }},{{ geo_lat }},,,,{{ geo_timezone }},,,,,,,,v{{ fgt_version }},,,"