#"[host][ip]": "[host][name]","[host][hostname]","[host][mac]","[host][product]","[host][serial_number]","[host][type]","[host][vendor]","[host][version]","[organization][id]","[organization][name]"
"{{ fgt_ip }}": "{{ fgt_name }},{{ fgt_hostname }},{{ fgt_mac }},Fortigate {{ model }},{{ serial_number }},Firewall,Fortinet,v{{ version }},,{{ client_name }}"